# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.67
<IfModule mod_rewrite.c>

RewriteEngine On

#RewriteCond %{HTTP_HOST} !^www.77xueche.com$ [NC]
#RewriteRule ^(.*)$ http://www.77xueche.com/$1 [L,R=301]




RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^errpage/([0-9]+)\.html$  errpage/$1\.html [QSA,L]
RewriteRule ^([a-z]+)\.html$ $1\.php [QSA,L]
RewriteRule ^([a-z]+)/([a-z]+)\.html$ $1/$2\.php [QSA,L]
RewriteRule ^([a-z]+)/([a-z]+)-([a-z0-9]+)-([a-zA-Z0-9]+)\.html$ $1/$2\.php\?$3=$4 [QSA,L]
RewriteRule ^([a-z]+)/([a-z]+)-([a-z0-9]+)-([a-zA-Z0-9]+)-([a-z0-9]+)-([a-zA-Z0-9]+)\.html$ $1/$2\.php\?$3=$4&$5=$6 [QSA,L]
RewriteRule ^([a-z]+)/([a-z]+)-([a-z0-9]+)-([a-zA-Z0-9]+)-([a-z0-9]+)-([a-zA-Z0-9]+)-([a-z0-9]+)-([a-zA-Z0-9]+)\.html$ $1/$2\.php\?$3=$4&$5=$6&$7=$8 [QSA,L]

</IfModule>