/* CSS Document */
*{ margin:0px; padding:0px;}
ol,
ul,
li { list-style: none; }
body{ background:url(images/errpage_bg.png) #FFFDE4 repeat-x center top;}
.errpageBox{ width:540px; margin:0px auto; margin-top:100px;}
.errpageBox .errpageCont{ text-align:center;}
.errpageBox .errpageBtn{ width:144px; float:right; margin-right:60px;}